* {
    
}

body {
    background-color: rgb(204, 157, 248);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}